/* 顶部 */

.topBox {
    width: 100%;
    height: 32px;
    background: #daddd2;
}

.topBox .topCen {
    width: 966px;
    height: 32px;
    /* background: orange; */
    margin: 0 auto;
}

.topBox .topCen .topCen_left {
    width: 104px;
    height: 2rem;
    /* background: yellowgreen; */
    float: left;
}

.topBox .topCen .topCen_left a {
    font-size: 12px;
    line-height: 32px;
    color: #6a726c;
}

.topBox .topCen .topCen_right {
    float: right;
    width: 400px;
    height: 2rem;
    /* background: yellowgreen; */
    line-height: 2rem;
}

.topBox .topCen .topCen_right .txt {
    width: 190px;
}

.topBox .topCen .topCen_right .spa1 {
    font-size: 12px;
    color: #6a726c;
    margin-left: 20px;
    cursor: pointer;
}

.topBox .topCen .topCen_right .spa2 {
    font-size: 12px;
    margin-left: 14px;
    color: #6a726c;
}


/* banner */

.banner {
    width: 100%;
    height: 166px;
    background: url(../img/BBBGG.jpg) repeat;
}

.banner .bannerCen {
    width: 966px;
    height: 166px;
    /* background: blue; */
    margin: 0 auto;
    position: relative;
}

.banner .bannerCen img {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -654px;
    /* width: 100%; */
}


/* 当前位置 */

.dqwz {
    width: 913px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px
}

.dqwz span {
    font-size: 12px;
    color: #6a726c;
}

.dqwz span a {
    font-size: 12px;
    color: #6a726c;
    margin-left: 10px
}

.dqwz span a:hover {
    color: orange;
}


/* 全部分类 */

.qbfl {
    width: 875px;
    height: 41px;
    margin: 0 auto;
    background: white;
    padding-left: 19px;
    padding-right: 19px;
}

.qbflCen {
    width: 875px;
    height: 29px;
    border-bottom: 1px solid #6a726c;
    padding-top: 11px
}

.qbflCen span {
    width: 82px;
    height: 29px;
    display: block;
    background: #6a726c;
    text-align: center;
    line-height: 29px;
    font-size: 12px;
    color: white;
}

.qbflBox {
    width: 879px;
    height: 448px;
    background: white;
    margin: 0 auto;
    padding-left: 34px
}

.boxLeft {
    width: 100px;
    height: 448px;
    /* background: pink; */
    float: left;
}

.boxLeft li a {
    font-size: 12px;
    line-height: 12px;
    color: #6a726c;
}

.boxLeft li {
    /* margin-top: 3px */
    line-height: 25px;
}

.boxLeft li:hover {
    background: orange;
}

.boxLeft .zheKou {
    height: 45px;
    width: 100px;
    line-height: 19px;
}

.boxRight {
    width: 757px;
    height: 448px;
    background: white;
    float: left;
    padding-left: 22px;
}

.boxRight li {
    line-height: 26px;
}

.boxRight li a {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    padding: 4px;
    color: #888;
    /* margin-right: 12px; */
}

.boxRight li a:hover {
    background: orange;
}

.boxRight .fenGexian {
    margin-top: 64px;
}


/* 排序方式 */

.pxfs {
    width: 895px;
    height: 40px;
    background: white;
    margin: 0 auto;
    padding-left: 18px;
    padding-top: 6px;
}

.pxfsBox {
    width: 616px;
    height: 27px;
    border: 1px solid gray;
    padding-left: 258px;
    padding-top: 6px;
}

.pxfsBox .pxfsBoxUl li {
    float: left;
    padding-left: 5px;
    font-size: 12px;
    padding-right: 5px;
    /* border-left: 1px solid gray; */
    border-right: 1px solid gray;
    color: #6a726c;
    margin-top: 3px;
}

.pxfsBox .pxfsBoxUl .moRen {
    background: orange;
}

.pxfsBox .pxfsBoxUl li a {
    color: #6a726c;
}

.pxfsBox .pxfsBoxUl li:nth-child(1):hover {
    background: none;
}

.pxfsBox .pxfsBoxUl li:hover {
    background: orange;
}

.pxfsBox .pxfsBoxRight {
    width: 280px;
    height: 25px;
    float: right;
    /* background: red; */
}

.pxfsBox .pxfsBoxRight {
    font-size: 12px;
    color: #6a726c;
}

.pxfsBox .pxfsBoxRight input {
    height: 15px;
    width: 49px;
    border: 1px solid gray;
}

.pxfsBox .pxfsBoxRight .btn {
    width: 40px;
    height: 19px;
    font-size: 8px;
    line-height: 19px;
}


/* 20张图片 */

.photoBox {
    width: 894px;
    height: 1103px;
    background: #fff;
    margin: 0 auto;
    padding-left: 19px;
    padding-top: 6px;
}

.photoBox .pB1 {
    width: 219px;
    height: 219px;
    background: orange;
    float: left;
}

.photoBox .pB1 img {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.photoBox .pho1 {
    position: relative;
    overflow: hidden;
}

.photoBox .pho1 .textBox {
    z-index: 10;
    width: 209px;
    height: 40px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: -21px;
    padding-left: 10px;
    /* opacity: .5; */
}

.photoBox .pho1 .textBox b {
    display: block;
    font-size: 12px;
    color: white;
}

.photoBox .pho1 .textBox i {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: white;
}


/* 分页 */

.pagingBox {
    width: 694px;
    height: 47px;
    background: white;
    margin: 0 auto;
    padding-left: 219px;
    padding-top: 13px;
}

.pagingBox span {
    font-size: 12px;
    display: block;
    margin: 6px;
    float: left;
}

.pagingBox ul {
    float: left;
}

.pagingBox ul li {
    float: left;
    font-size: 12px;
    /* padding: 6px; */
    border: 1px #dedede solid;
}

.pagingBox ul li:nth-child(1) {
    margin-right: 5px;
}

.pagingBox ul li:nth-child(3) {
    margin-right: 5px;
}

.pagingBox ul li:nth-child(4) {
    margin-right: 5px;
}

.pagingBox ul li:nth-child(2) {
    padding-left: 6px;
    padding-right: 6px;
    background: orange
}

.pagingBox ul li:nth-child(3) {
    padding-left: 6px;
    padding-right: 6px;
}

.pagingBox ul li a {
    display: block;
    font-size: 12px;
    padding: 6px;
    color: #6a726c;
}


/* 白条占位置 */

.kbBox {
    width: 913px;
    height: 86px;
    background: white;
    margin: 0 auto;
}


/* 底部 */

.boTTom {
    width: 913px;
    height: 414px;
    background: white;
    margin: 0 auto;
    /* margin-top: -30px; */
    clear: both;
}

.boTTom .boTTomTop {
    width: 966px;
    height: 250px;
    /* background: orange; */
    /* margin-top: -30px; */
}

.boTTom .boTTomTop .boTTomTopLogin {
    width: 217px;
    height: 250px;
    /* background: #007AFF; */
    float: left;
    /* padding-left: 15px;
    padding-top: 68px; */
}

.boTTom .boTTomTop .boTTomTopUl {
    width: 421px;
    height: 250px;
    /* background: red; */
    float: left;
    /* padding-left: 12px; */
    padding-top: 15px;
}

.boTTom .boTTomTop .boTTomTopUl ul {
    float: left;
    margin-left: 24px;
}

.boTTom .boTTomTop .boTTomTopUl ul li a {
    color: #7f7f7f;
    font-size: 12px;
}

.boTTom .boTTomTop .boTTomTopUl ul li a:hover {
    text-decoration: underline;
    color: orange;
}

.boTTom .boTTomTop .boTTomTopUl ul span {
    color: black;
    font-weight: 900;
    font-size: 14px;
}


/* 电话 */

.boTTom .boTTomTop .call {
    width: 275px;
    height: 240px;
    /* background: greenyellow; */
    float: left;
    text-align: center;
    padding-top: 15px;
}

.boTTom .boTTomTop .call h4 {
    color: #744e1d;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 20px;
}

.boTTom .boTTomTop .call span {
    color: #744e1d;
    /* font-weight: 900; */
    display: block;
    line-height: 25px;
    font-size: 16px
}

.boTTom .bottomBot {
    width: 913px;
    height: 164px;
    background: white;
}

.boTTom .bottomBot .bottomBotUl {
    text-align: center;
    /* padding-top: 6px; */
}

.boTTom .bottomBot .bottomBotUl li {
    color: #7f7f7f;
    font-size: 12px;
    margin-top: 20px;
}

.boTTom .bottomBot .bottomBotUl li a {
    margin-left: 24px;
    color: #7f7f7f;
    font-size: 12px;
}

.boTTom .bottomBot .bottomBotUl li a:hover {
    text-decoration: underline;
    color: orange;
}